{% extends "calc/base.html" %}
{%  block style %}
<style>
    #mount{
        font-size: xx-large;
        align-items: center;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 5%;
        
    }
    li{
        text-decoration: none;
        color: blue;
        margin: 1.5%;
    }
     a{
        text-decoration: none;
        padding: 7px 15px;
        transition: all 0.3s ease-in-out;
    }
    .months_title{
        margin-left: 45%;
        font-weight: bolder;
       
    }
</style>
{% endblock %}
{% block body %}

<div class="months_title"> 
    <h1>Month</h1>
</div>



<ul id="mount">
<li><a href="{% url 'calc:months' 'January' %}">January</a></li>
<li><a href="{% url 'calc:months'  'February' %}">February</a></li>
<li><a href="{% url 'calc:months' 'March' %}">March</a></li>
<li><a href="{% url 'calc:months' 'April' %}">April</a></li>
<li><a href="{% url 'calc:months' 'May' %}">May</a></li>
<li><a href="{% url 'calc:months' 'June' %}">June</a></li>
<li><a href="{% url 'calc:months' 'July' %}">July</a></li>
<li><a href="{% url 'calc:months' 'August' %}">August</a></li>
<li><a href="{% url 'calc:months' 'September' %}">September</a></li>
<li><a href="{% url 'calc:months'  'Octomber' %}">Octomber</a></li>
<li><a href="{% url 'calc:months'  'November' %}">November</a></li>
<li><a href="{% url 'calc:months' 'December' %}">December</a></li>



</ul>



<script>

    const InputEl = document.getElementById('input')
    const MountEL = document.getElementById('mount').children
    var NewArr = Array.from(MountEL)
    NewArr.forEach(e => {
        console.log(e.innerText)
    })



    const JSON_data = ('/json_data')
    GetData(JSON_data)
    async function GetData(url) {
        const res = await fetch(url)
        const data = await res.json()
        //console.log(data)

    }






</script>

{% endblock %}