{% extends "calc/base.html" %}

{% block body %}


<h3>month</h3>


<ul id="mount">
    {% for m in month %}
    <li><a href="">{{m}}</a></li>

    {% endfor %}
</ul>

{% for d in data %}

<h3>{{d.name}}</h3>
<br>
<h3>{{d.membership}}</h3>
<br>
<p>{{d.vip_level}}</p>
<br>
<p>{{d.date}}</p>
<br>
{% if d.arrival_date %}
<h1>{{d.arrival_date}}</h1>
{% endif %}


{% endfor %}

<script>
    const MountEL = document.getElementById('mount').children
    var NewArr = Array.from(MountEL)
    // this can be made with dict.
    const YearMounts = { 01: 'January', 02: 'February', 03: 'March', 04: 'April', 05: 'May', 06: 'June', 07: 'July', 08: 'Auguest', 09: 'September', 10: 'Octouber', 11: 'November', 12: 'December' }


    NewArr.forEach(e => {

        for (var key in YearMounts) {
            var value = YearMounts[key];
            if (0 + key == e.innerText) {
                e.innerHTML = `<a href="">${value}</a>`

            }
            else if (key == e.innerText) {
                e.innerHTML = `<a href="">${value}</a>`
            }


            // do something with "key" and "value" variables
        }



        /*
        YearMounts.forEach(m => {
            console.log(m.key)
            if (e.innerText == '01') {
                e.innerText = m
            }
        })*/


    });


</script>

{% endblock %}