{% extends "calc/base.html" %}
{% block style %}
<style>
    body{
        background-color: rgb(207, 203, 190);
       
    }
    .body-container {
    margin-top: 0;
    }
    p{
        margin-bottom: 20px;
    }
    .form-container{
        width: 80%;
        margin-left: 10%;
        
    }
    .form{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        background-color: rgb(207, 199, 175);
        padding: 15px;
        box-shadow: 2px 3px 15px rgba(0.1, 0.3, 02, 1);
    }
    #btn{
        width: 60%;
        height: 2rem;
        background-color: rgb(156, 156, 252);
        color: #fff;
        border-radius: 2px;
        border: none;
    }
    #btn:hover{
        background-color: rgb(88, 88, 241);
    }
    #btn:active{
        transform: scale(-92%);
    }
    input:focus{
        outline: none;
        
    }

    label{
        position: absolute;
        left: 10px;
       
    }
    input:focus ~ label {
    color:red;
}

</style>

{% endblock%}

{% block body %}
{{name}}
<div class="form-container" >
    <div class="form">
        <form action="{% url 'calc:update' %}" method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" id="btn">
        </form>
    </div>

</div>
<button id="btn">BUTTON</button>
<output id="output"></output>


<script>
    const BtnEl = document.getElementById('btn')
    const formData = document.getElementById('form')
    const NewForm = new FormData(formData)
console.log(BtnEl)
    const output = document.getElementById('output');

    BtnEl.addEventListener("mouseover", ()=>  {
        console.log(123)
        for (const [key, value] of NewForm) {
        output.textContent += `${key}: ${value}\n`;
        }
    })



    
    

</script>

{% endblock %}