{% extends "calc/base.html" %}

{% block style %}
<style>
    .item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #000;
        width: 90%;
        margin-left: 10%;
        padding: 10px;
    }
    .item{
        display: flex;
        flex-direction: row;
       
        margin: 5px;
    }
    label{
        margin: 0;
        text-decoration: underline;
    }
    .ROW{
        margin-left: 5px;
        margin-right: 5px;
    }
    table, th, td {
    border: 1px solid black;
    }
    td{
        text-align: center;
    }
    p{
        margin: 5px;
    }
</style>
{% endblock %}

{% block body %}



    
    <h1>Todays arrivals: {{today}}</h1>
    
    <div class="item-container">
       
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Membership</th>
    <th>VIP Level</th>
    <th>Date of Arrival</th>
    <th>Amenities</th>
    <th>Date</th>
  </tr>
  {% for d in data %}
  <tr>
    <td><p>{{d.name}}</p></td>
    <td >{{d.membership}}</td>
    <td>{{d.vip_level}}</td>
    <td>{{d.date}}</td>
    <td class="amenities">{{d.fruit_amenity}}, {{ d.drink_amenity}}, {{d.dessert_amenity}}</td>
    <td>{{d.arrival_date}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>February</td>
    <td style="text-align:right">$80</td>
  </tr>
</table>


</div>
<div class="total">
    <ul id="total">
        <li></li>
    </ul>
</div>
<script>
    const amenitiesEl = document.getElementsByClassName('amenities')
    
   // need to import jason and compare arrival name with amenities 
   // and input it back to page as combined + total  
    
    
    for (let item of amenitiesEl) {
    //console.log(item.innerHTML)
    }
    
    const JSON_data = ('/json_data')
    GetData(JSON_data)
    async function GetData(url) {
        const res = await fetch(url)
        const data = await res.json()
        //console.log(data)

        data.forEach(e => {
            //console.log(e.arrival_date)
            let numCount = {}

            if (e.arrival_date === e.date){
                console.log(e.name, '+', e.fruit_amenity, '+', e.arrival_date )
                console.log(e)

                //numCount.add(e.name, e.num_fruit)


                const ulEl = document.getElementById('total')
                var liEl = document.createElement('li')
                liEl.innerHTML = `<div> ${e.fruit_amenity} total : ${e.num_fruit} <br><br>
                                       ${e.dessert_amenity} total : ${e.num_dessert}<br><br>
                                       ${e.drink_amenity}             
                                    </div>`
               
                ulEl.appendChild(liEl)
                
            }
        });

    }


</script>
{% endblock %}