{% extends "calc/base.html" %}

{% block style %}
<style>
    .item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #000;
        width: 90%;
        margin-left: 10%;
        padding: 10px;
    }
    .item{
        display: flex;
        flex-direction: row;
       
        margin: 5px;
    }
    label{
        margin: 0;
        text-decoration: underline;
    }
    .ROW{
        margin-left: 5px;
        margin-right: 5px;
    }
    table, th, td {
    border: 1px solid black;
    }
    td{
        text-align: center;
    }
    p{
        margin: 5px;
    }
</style>
{% endblock %}

{% block body %}



<!--<div class="item-container">
    <div class="item">
    {% for d in data %}
    <label for="Name">Name:</label>
        <div class="ROW" id="name">
            
            <p>{{d.name}}</p>
        </div>
    
    <br>
    <label for="Membership">Membership:</label>
        <div class="ROW">
            <p>{{d.membership}}</p>
        </div>
    <br>
    <label for="Vip_level">VIP Level:</label>
        <div class="ROW">
            <p>{{d.vip_level}}</p>
        </div>
    <br>
    <label for="Arrival">Date of Arrival:</label>
        <div class="ROW">
            <p>{{d.date}}</p>
        </div>
    <br>
    <label for="ArrDate">Date:</label>
        <div class="ROW">
            {% if d.arrival_date %}
            <p>{{d.arrival_date}}</p>
            {% endif %}
        </div>


    {% endfor %}
    </div>-->
   
    
    <h1>Todays arrivals: {{today}}</h1>
    
    <div class="item-container">
       
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Membership</th>
    <th>VIP Level</th>
    <th>Date of Arrival</th>
    <th>Amenities</th>
    <th>Date</th>
  </tr>
  {% for d in data %}
  <tr>
    <td><p>{{d.name}}</p></td>
    <td >{{d.membership}}</td>
    <td>{{d.vip_level}}</td>
    <td>{{d.date}}</td>
    <td class="amenities">{{d.fruit_amenity}}</td>
    <td>{{d.arrival_date}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>February</td>
    <td style="text-align:right">$80</td>
  </tr>
</table>


</div>
<script>
    const amenitiesEl = document.getElementsByClassName('amenities')
    
   // need to import jason and compare arrival name with amenities 
   // and input it back to page as combined + total  
    
    
    for (let item of amenitiesEl) {
    console.log(item.innerHTML)
    }
    
</script>
{% endblock %}